@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
}



.dashboard {
    display: grid;
    grid-template-columns: 0fr 12fr;
    grid-gap: 1em;
}


.dashboard > div {
    position: relative;
    top: 67px;
    margin-top: 5px;
}
.content {
    border: none;
    border-radius: 10px;
    box-shadow: -4px -2px 5px 0px rgba(0,0,0,0.50);
}


@media only screen and (max-width: 375px) {
    .content {
        width: 300px;
    }
}