

.backgroundPass {
    width: auto;
    height: 700px;
    background-image: url('../../asset/images/password.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}